# Ignore frontend dependencies
Frontend/node_modules/

# Ignore backend dependencies
Backend/node_modules/

# Ignore build files
Frontend/dist/
Frontend/build/

# Ignore environment files
Backend/.env 
Frontend/.env

# Ignore logs
*.log

# Ignore system files
.DS_Store
Thumbs.db
